@import "tailwindcss";

body {
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-width: screen;
  min-height: 100vh;
  background-color: oklch(15.447% 0.0307 259.663 / 0.914)
}

/* Login and Sign up Pages */

.homeContainer { 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.homeContainer form {
  border: 4px solid black;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
}

.homeContainer input {
  width: 75%;
  margin-bottom: 12px;
  border: 2px rgba(251, 251, 251, 0.436) solid;
  border-radius: 6px;
  padding-left: 8px;
}

.homeContainer button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.796);
  color: rgb(190, 203, 248);
}


.homeContainer button {
  border-radius: 4px;
  padding: 2px;
  width: 25%;
  background-color: black;
  color: whitesmoke;
}

/* User Page */
